@model TBLAuthorsModel
@{
    ViewData["Title"] = "Update Authors";
}

<h1>Authors Update</h1>
<hr class="border border-dark border-3 opacity-75">

<form action="/Home/AuthorsUpdate" method="post">

    <input type="hidden" name="Id" value="@Model.Id">

    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="Name" placeholder="Name girin" name="Name" value="@Model.Name">
        <label for="title">Name</label>
    </div>

    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="SurName" placeholder="SurName girin" name="SurName" value="@Model.SurName">
        <label for="title">SurName</label>
    </div>

    <div class="form-floating mb-3 mt-3">
        <input type="number" class="form-control" id="Age" placeholder="Age girin" name="Age" value="@Model.Age">
        <label for="title">Age</label>
    </div>

    <div class="form-floating mb-3 mt-3">
        <input type="datetime" class="form-control" id="Birthday" placeholder="Birthday girin" name="Birthday" value="@Model.Birthday">
        <label for="title">Birthday</label>
    </div>

    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="Birthplace" placeholder="Birthplace girin" name="Birthplace" value="@Model.Birthplace">
        <label for="title">Birthplace</label>
    </div>

    <div class="form-floating mb-3 mt-3">
        <label for="title">Resim</label>
       <img src="@Model.ImageURL" alt="Alternate Text" style="width:200px" />
    </div>

    <div class="form-floating mb-3 mt-3">
        <input type="url" class="form-control" id="ImageURL" placeholder="ImageURL girin" name="ImageURL" value="@Model.ImageURL">
        <label for="title">ImageURL</label>
    </div>


    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="Description" placeholder="Description girin" name="Description" value="@Model.Description">
        <label for="title">Description</label>
    </div>

    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="Summary" placeholder="Summary girin" name="Summary" value="@Model.Summary">
        <label for="title">Summary</label>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Güncelle</button>
</form>

<hr class="border border-dark border-3 opacity-75">
