@model List<IndexViewModel>
@{
    ViewData["Title"] = "Ana Sayfa";
}
<h1>Önce Çıkan Blog Yazıları</h1>
<hr class="border border-dark border-3 opacity-75">

@foreach (var blog in Model)
{
    <div class="container mt-4">
        
        <!-- Başlık ve Özet -->
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 text-primary">@blog.Title</h1>
                <p class="lead text-muted">@blog.Summary <a href="/Home/Details/@blog.BlogId">Detayını görmek için tıkla</a></p>
            </div>
        </div>

        <!-- Yazar, Tarih, Kategori Bilgisi -->
        <div class="row mt-4">
            <div class="col-md-4">
                <p class="font-weight-bold"><i class="bi bi-person"></i> <a href="/Home/AuthorDetails/@blog.AuthorId">@blog.Name @blog.Surname</a></p>
            </div>
            <div class="col-md-4">
                <p class="font-weight-bold"><i class="bi bi-calendar"></i> @blog.CreatedDate.ToString("D")</p>
            </div>
            <div class="col-md-4">
                <p class="font-weight-bold"><i class="bi bi-tags"></i> <a href="/Kategoriler">@blog.CategoryName</a></p>
            </div>
        </div>

    </div>
    <hr class="border border-primary border-3 opacity-75">
       

}

